<ion-header>
  <ion-toolbar class="balance" color="transparent">
    <ion-title style="color: white;">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <img class="" src="../../assets/img/logo.png" alt="" style="max-width: 50%; margin-left: 25%; margin-top: 5%;">
    <p class="ion-text-center">Ayuda Legal al Instante</p>
    <br>
    <ion-item>
      <ion-label position="stacked">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" clearInput></ion-input>
    </ion-item>
    <br>
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
            routerLink="/password"
            color="transparent"
            expand="block"
            size="default"
            style="margin-top: 30px; ">
            <span style="color: #707070">Cancelar</span>
            </ion-button>
          </ion-col>
    
          <ion-col>
            <ion-button
            (click)="contactar()"
            color="secondary"
            expand="block"
            size="default"
            style="margin-top: 30px; ">
            Guardar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
