<ion-content class="ion-padding" color="white">

    <img class="" src="../../../assets/img/logo2.png" alt="GL" style="max-width: 70%; margin-left: 15%; margin-top: 30%;">
    <ion-button routerLink="/login" style="margin-top: 100px" color="secondary" expand="block" size="default"><span>Iniciar Sesión</span></ion-button>
    <ion-button routerLink="/signin" style="margin-top: 10px" color="secondary" expand="block" size="default">Registrarse</ion-button>
    <p class="ion-text-center" routerLink="/password">¿Olvidaste tu contraseña?</p>

</ion-content>

<ion-footer>
    <ion-toolbar>
          <p class="ion-text-center">2019&copy; Global Lawyer</p>
    </ion-toolbar>
</ion-footer>