<ion-header>
    <ion-toolbar class="balance" color="transparent">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="." style="color: white;"></ion-back-button>
      </ion-buttons>
      <ion-title id="titulo" style="color: white">
          <img src="../../assets/img/GL-blanco.png" alt="" style="max-width: 20%; margin-top: 2%; margin-left: 35%;">
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">

  <h3>Servicio a pagar</h3>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let c of servicios" size="6">
        
        <ion-button class="balance" color="transparent" expand="block" style="height: 100%;" (click)="paypal(c.name)"> 
          <div style="margin-top: 10%; margin-bottom: 10%;">
            <ion-icon color="light" name="{{c.icon}}" size="large"></ion-icon><br>
            <p style="font-size: 11px; color: #f4f5f8">{{c.name}}</p>
            <p style="font-size: 11px; color: #f4f5f8">{{c.precio}} x/hora</p>
          </div>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div id='mapa'>
  </div>

</ion-content>
