
<ion-content class="ion-padding">

    <ion-grid>
        <ion-row>
            <ion-col size="3">
                <div class="avatar2">
                    <p class="ion-text-center" style="font-size: 30px; color: white; ">{{i_nombre}}{{i_apellido}}</p>
                </div>
            </ion-col>
            <ion-col size="9">
                <h1>{{profile.nombre}}</h1>
                <ion-text color="secondary" routerLink="/profile-user">Ver Perfil</ion-text>
            </ion-col>
        </ion-row>
        <br>
        <hr style="height: 2px; width: 100%; float: left; background-color: #f4f5f8;">
        <br><br>
        <ion-row>
          <ion-col size="12">
            <ion-text class="ion-text-uppercase">Configuraciones de Perfil</ion-text>
            <ion-list>
                <ion-item *ngFor="let c of userSettings | async" [routerLink]="c.redirectTo" style="font-size: 14px;">
                  <ion-text>{{c.name}}</ion-text>
                  <ion-icon slot="end" [name]="c.icon"></ion-icon>
                </ion-item>
          </ion-list>
          </ion-col>
        </ion-row>
  
    </ion-grid>
  
  </ion-content>
  
  <ion-footer color="transparent">
       <ion-item routerLink="/inicio">
          <ion-text>Cerrar Sesión</ion-text>
          <ion-icon slot="end" name="log-out"></ion-icon>
        </ion-item>
  </ion-footer>
  