<ion-header>
    <ion-toolbar class="balance" color="transparent">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="." style="color: white;"></ion-back-button>
      </ion-buttons>
      <ion-title id="titulo" style="color: white">
          <img src="../../assets/img/GL-blanco.png" alt="" style="max-width: 20%; margin-top: 2%; margin-left: 35%;">
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">

  <h1>Método de Pago</h1>

    <br><br>
    <div style="text-align: center;">
        <img style="text-align: center;" class="text-align-center text-center" src="https://www.paypalobjects.com/digitalassets/c/website/marketing/latam/mx/logos-buttons/btn-credito-01.png" alt="Check out with PayPal"/>
        <br><br>
        <img src="https://www.paypalobjects.com/webstatic/es_MX/mktg/logos-buttons/redesign/btn_10.png" alt="PayPal"/>
    </div>

</ion-content>
